
/* fonts start */

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: local("Roboto"),
         url(../fonts/roboto.woff2) format(woff2),
         url(../fonts/roboto.woff) format(woff);
}
  
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto"),
         url(../fonts/robotomedium.woff2) format(woff2),
         url(../fonts/robotomedium.woff) format(woff);
}
  
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto"),
         url(../fonts/robotobold.woff2) format(woff2),
         url(../fonts/robotobold.woff) format(woff);
}

/* fonts end */

/* variables start */

:root {
    --basic-black: #000000;
    --opacity-black: rgba(0,0,0,0.3);
    --opacity-cpecial-black: rgba(0,0,0,0.6);
    --basic-lightblack: #283136;
    --basic-red: #FB565A;
    --cpecial-red:  #E74246;
    --cpecial-darkred: #D7373B;
    --basic-green: #00CA74;
    --cpecial-green:  #00BC6C;
    --cpecial-darkgreen: #00AA62;
    --basic-yellow: #EFC849;
    --cpecial-yellow:  #EAB534;
    --cpecial-darkyellow: #E5A722;
    --basic-lightgrey: #EEEEEE;
    --special-lightgrey: #DFDFDF;
    --special-darkgrey: #D5D5D5;
    --special-check-grey: #4D4D4D;
    --basic-border-grey: #DBDBDB;
    --basic-darkwhite: #888888;
    --basic-grey: #666666;
    --special-grey: #444444;
    --basic-btn-grey: #A6A6A6;
    --basic-btn-darkgrey: #231F20;
    --basic-white: #ffffff; 
    --opacity-white: rgba(255,255,255,0.3);  
}

/* variables end */

/* global start */

.page-body {
    min-width: 1160px;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--basic-lightblack);
}

a {
    color: var(--basic-black);
    text-decoration: none;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.center {
    width: 1160px;
    margin: 0 140px;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* global end */

/* header start */

.main-nav {
    width: 1157px;
    padding-top: 49px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
}

.main-header-logo:hover {
    opacity: 0.6;
}

.main-header-logo:active,
.main-header-logo:focus{
    opacity: 0.3;
}

.site-nav {
    justify-self: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav-item:hover a,
.site-nav-item a:focus,
.basket:hover,
.basket:focus{
    color: var(--basic-red);
}

.site-nav-item:active a,
.basket:active{
    color: var(--basic-black);
    opacity: 0.3;
}

.site-nav-item-active {
    border-bottom: 2px solid var(--basic-red);
}

.basket {
    margin-top: 75px;
}

.wrapper-background {
    background: var(--basic-lightgrey);
}

.site-nav-catalog {
    margin-bottom: 87px;
}

/* header end */

/* slider start */ /* main start */  /* main-inner start */

.main-wrapper-background {
    background: var(--basic-white);
}

.main-page h1 {
    margin: 0;
    padding: 0;
}

.slider-wrapper {
    display: grid;
    grid-template-columns: 1fr 760px;
    margin-bottom: 80px;
}

.slide-2 {
    display: none;
}

.slide-3 {
    display: none;
}

.hidden {
    visibility: hidden;
}

.inner-title {
    padding-bottom: 108px;
    padding-top: 87px;
    margin-bottom: 55px;
}

.slider-slogan,
.inner-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    background: var(--basic-lightgrey);
}

.slider-btn {
    width: 240px;
    padding: 15px 54px;
    padding-top: 17px;
    vertical-align: bottom;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-red);
}

.slider-btn:hover,
.slider-btn:focus {
    background: var(--cpecial-red);
}

.slider-btn:active {
    background: var(--cpecial-darkred);
    color: var(--opacity-white);
}

/* slider end */  /* main-inner end */

/* filter start */  /* sorting start */

.wrapper-sorting {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
}

.wrapper-sorting-and-filter {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 141px;
    width: 1157px;
}

.filter-subtitle,
.sorting-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter-cost-list,
.filter-grid-list,
.filter-functional-list,
.sorting-list,
.sorting-controls-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-cost-text {
    line-height: 22px;
    text-transform: uppercase;
}

.filter-text {
    line-height: 20px;
}

.filter-text input {
    background: var(--special-check-grey);
    opacity: 0.6;
}

.filter-text:hover,
.filter-text:focus,
.filter-text input:hover,
.filter-text input:focus {
    opacity: 1;
}

input[disabled] + .block {
    opacity: 0.3;
}

.filter-btn {
    width: 260px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 88px;
    padding-right: 89px;
    text-transform: uppercase;
    background: var(--basic-lightgrey);
    border-radius: 3px;
}

.filter-btn:hover,
.filter-btn:focus {
    background: var(--special-lightgrey);
}

.filter-btn:active {
    color: var(--opacity-black);
    background: var(--special-darkgrey);
}

.sorting-btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--opacity-black);
}

.sorting-btn:hover,
.sorting-btn:focus {
    color: var(--opacity-cpecial-black);
}

.sorting-btn:active {
    color: var(--basic-black);
}

.sorting-controls-down,
.sorting-controls-up {
    color: var(--basic-btn-grey);
    opacity: 0.3;
}

.sorting-controls-down:hover,
.sorting-controls-down:focus,
.sorting-controls-up:hover,
.sorting-controls-up:focus {
    color: var(--basic-btn-grey);
    opacity: 0.6;
}

.sorting-controls-down:active,
.sorting-controls-up:active {
    color: var(--basic-btn-darkgrey);
    opacity: 1;
}

/* filter end */  /* sorting end */

/* servies start */

.servies-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    width: 1100px;
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
    list-style: none;
}

.servies-item-subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.btn {
    width: 160px;
    padding-top: 17px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-red);
    border-radius: 3px;
    box-shadow: none;
}

.btn:hover,
.btn:focus {
    background: var(--cpecial-red);
} 

.btn:active {
    background: var(--cpecial-darkred);
    color: var(--opacity-white);
}

/* servies end */

/* about-company start */

.about-company-slogan {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.about-company-text {
    width: 646px;
}

.about-company-list-subtitle {
    font-weight: bold;
    text-transform: uppercase;
}

.about-company-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* about-company end */

.wrapper-about-company-and-feature {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 149px;
    width: 1174px;
    margin-bottom: 121px;
}

/* feature start */

.feature-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
}

.feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-number {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.percent {
    font-size: 26px;
    line-height: 40px;
}

.feature-text {
    line-height: 18px;
}

/* feature end */

/* clients start */

.clients-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    width: 1157px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 126px;
    list-style: none;
}

.clients-link{
    opacity: 0.2;
}

.clients-link:hover,
.clients-link:focus {
    opacity: 1;
}

.clients-link:active {
    opacity: 0.1;
}

/* clients end */

/* pattern start */

.pattern-list,
.pattern-sheet-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pattern-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 55px;
}

.pattern-sheet-list {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 11px;
    margin-bottom: 60px;
}

.wrapper-modal {
    display: none;
    width: 360px;
    padding-top: 26px;
    background: var(--basic-lightgrey);
}

.pattern-link:hover + .wrapper-modal {
    display: block;
    position: absolute;
    transform: translateY(-250px);
}

.modal-subtitle {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-black);
}

.modal-subtitle:hover,
.modal-subtitle:focus {
    color: var(--basic-red);
}

.modal-subtitle:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.modal-text {
    margin-bottom: 32px;
    text-align: center;
}

.modal-btn {
    width: 200px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 44px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
    background: var(--basic-red);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--cpecial-red);
}

.modal-btn:active {
    background: var(--cpecial-darkred);
}

.pattern-sheet-link {
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    background: var(--basic-lightgrey);
}

.pattern-sheet-link:hover {
    color: var(--basic-black);
    background: var(--special-lightgrey);
}

.pattern-sheet-link:active {
    opacity: 0.3;
    color: var(--basic-black);
    background: var(--special-darkgrey);
}

.pattern-sheet-link-active {
    border: 3px solid var(--basic-border-grey);
    box-sizing: border-box;
    border-radius: 3px;
    background: none;
}

/* pattern end */

/* footer start */
/* contacts start */

.page-footer {
    padding-bottom: 68px;
}

.page-footer-map {
    width: 100%;
    padding: 0;
}

.contacts-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.contacts-address,
.contacts-tel {
    line-height: 18px;
    color: var(--basic-grey);
}

.contacts-btn {
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-red);
}

/* contacts end */

/* socials start */

.wrapper-socials {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.socials-list {
    margin: 68px 140px;
    list-style: none;
}

.socials-subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

.socials-text {
    line-height: 22px;
    color: var(--special-grey);
}

/* socials end */
/* footer end */
