
/* fonts start */

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: local("Roboto"),
         url(../fonts/roboto.woff2) format(woff2),
         url(../fonts/roboto.woff) format(woff);
}
  
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto"),
         url(../fonts/robotomedium.woff2) format(woff2),
         url(../fonts/robotomedium.woff) format(woff);
}
  
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto"),
         url(../fonts/robotobold.woff2) format(woff2),
         url(../fonts/robotobold.woff) format(woff);
}

/* fonts end */

/* variables start */

:root {
    --basic-black: #000000;
    --opacity-black: rgba(0,0,0,0.3);
    --opacity-cpecial-black: rgba(0,0,0,0.6);
    --opacity-shadow-black: rgba(0, 0, 0, 0.4);
    --basic-shadow-black: rgba(0, 0, 0, 0.15);
    --basic-lightblack: #283136;
    --basic-red: #FB565A;
    --cpecial-red:  #E74246;
    --cpecial-darkred: #D7373B;
    --basic-green: #00CA74;
    --cpecial-green:  #00BC6C;
    --cpecial-darkgreen: #00AA62;
    --basic-yellow: #EFC849;
    --cpecial-yellow:  #EAB534;
    --cpecial-darkyellow: #E5A722;
    --basic-lightgrey: #EEEEEE;
    --special-lightgrey: #DFDFDF;
    --special-darkgrey: #D5D5D5;
    --special-check-grey: #4D4D4D;
    --basic-border-grey: #DBDBDB;
    --special-border-grey: #D7DCDE;
    --special-scale-grey:#D7DCDF;
    --special-border-darkgrey: #B4B9BB;
    --basic-range-grey: #ABABAB;
    --basic-darkwhite: #888888;
    --basic-grey: #666666;
    --special-grey: #444444;
    --basic-btn-grey: #A6A6A6;
    --basic-btn-darkgrey: #231F20;
    --basic-white: #ffffff;
    --basic-gradient-white: rgba(0, 1, 1, 0.1);
    --opacity-white: rgba(255,255,255,0.3);
    --gradient-rest: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    --gradient-aim: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
    --gradient-press: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
}

/* variables end */

/* global start */

.page-body {
    min-width: 1160px;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
    color: var(--basic-lightblack);
}

a {
    color: var(--basic-black);
    text-decoration: none;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

fieldset {
    border: none;
}

.page {
    height: 100%;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper-background {
    background: var(--basic-lightgrey);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* global end */

/* header start */

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    padding-top: 75px;
    line-height: 30px;
    font-weight: 500;
    color: var(--basic-black);
}

.main-header-logo,
.basket {
    display: block;
    padding: 10px;
}

.main-header-logo:hover {
    opacity: 0.6;
}

.main-header-logo:active,
.main-header-logo:focus{
    opacity: 0.3;
}

.site-nav,
.site-nav-catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.site-nav-item {
    margin-right: 45px;
}

.basket {
    padding-left: 50px;
    position: relative;
}

.basket::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 17px;
    width: 15px;
    height: 15px;
    color: var(--basic-btn-grey);
    background-image: url(../img/basket.svg);
    background-repeat:  no-repeat;
    
}

.site-nav-item:last-child {
    margin-right: 0;
}

.site-nav-item:hover a,
.site-nav-item a:focus,
.basket:hover,
.basket:focus{
    color: var(--basic-red);
}

.site-nav-item:active a,
.basket:active{
    color: var(--basic-black);
    opacity: 0.3;
}

.site-nav-item-active {
    border-bottom: 2px solid var(--basic-red);
}

/* header end */

/* slider start */ /* main start */  /* main-inner start */

.main-wrapper-background {
    background: var(--basic-white);
}

.wrapper-inner {
    background: var(--basic-lightgrey);
}

.main-page h1 {
    margin: 0;
    padding: 0;
}

.slider-wrapper {
    display: grid;
    grid-template-columns: 1fr 760px;
    margin-bottom: 80px;
}

.slide-2 {
    display: none;
}

.slide-3 {
    display: none;
}

.inner-title {
    padding-bottom: 108px;
    padding-top: 87px;
    margin-bottom: 55px;
    text-align: center;
}

.slider-slogan,
.inner-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    background: var(--basic-lightgrey);
}

.slider-btn {
    width: 240px;
    padding: 15px 54px;
    padding-top: 17px;
    vertical-align: bottom;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-red);
}

.slider-btn:hover,
.slider-btn:focus {
    background: var(--cpecial-red);
}

.slider-btn:active {
    background: var(--cpecial-darkred);
    color: var(--opacity-white);
}

/* slider end */  /* main-inner end */

/* filter start */  /* sorting start */

.wrapper-sorting-and-filter {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 141px;
    width: 1157px;
}

.wrapper-sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.filter-subtitle,
.sorting-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sorting-subtitle {
    margin-right: auto;
}

.sorting-list,
.sorting-controls-list {
    display: flex;
}

.sorting-item {
    margin-right: 25px;
}

.sorting-item:last-child {
    margin-right: 47px;
}

.sorting-controls-item {
    margin-right: 18px;
}

.sorting-controls-item:last-child {
    margin-right: 0;
}

.wrapper-range-controls {
    position: relative;
    width: 260px;
    height: 41px;
    padding-top: 39px;
    margin-top: 46px;
    margin-bottom: 14px;
    background: var(--basic-lightgrey);
    border-radius: 3px;
}

.wrapper-range-controls .scale {
    width: 205px;
    height: 2px;
    margin: auto;
    background: var(--special-scale-grey);
}

.bar {
    width: 70%;
    height: 2px;
    background: var(--basic-green);
}

.toggle {
    width: 4px;
    height: 4px;
    padding: 2px;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background: var(--basic-range-grey);
    box-shadow: 0px 2px 1px var(--basic-shadow-black);
}

.toggle-min {
    position: absolute;
    top: 30px;
    left: 10px;
}

.toggle-max {
    position: absolute;
    top: 30px;
    left: 170px;
}

.wrapper-price-controls {
    display: flex;
    justify-content: space-between;
}

.filter-cost-text input {
    width: 80px;
    height: 38px;
    padding: 8px 5px;
    margin-left: 11px;
    text-align: center;
    background: var(--basic-lightgrey);
    border: none;
    border-radius: 3px;
}

.filter-cost-text input[type="number"]::-webkit-outer-spin-button,
.filter-cost-text input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-cost-text input[type="number"] {
    -moz-appearance: textfield;
}

.filter-grid-list,
.filter-functional-list,
.sorting-list,
.sorting-controls-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-grid-item,
.filter-functional-item {
    margin-bottom: 20px;
}

.filter-grid-item:last-child {
    margin-bottom: 47px;
}

.filter-functional-item:last-child {
    margin-bottom: 50px;
}

.filter-cost-text {
    line-height: 22px;
    text-transform: uppercase;
}

.filter-text {
    line-height: 20px;
}

.filter-text input {
    background: var(--special-check-grey);
    opacity: 0.6;
}

.filter-text:hover,
.filter-text:focus,
.filter-text input:hover,
.filter-text input:focus {
    opacity: 1;
}

input[disabled] + .block {
    opacity: 0.3;
}

.filter-btn {
    width: 260px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 88px;
    padding-right: 89px;
    text-transform: uppercase;
    background: var(--basic-lightgrey);
    border-radius: 3px;
}

.filter-btn:hover,
.filter-btn:focus {
    background: var(--special-lightgrey);
}

.filter-btn:active {
    color: var(--opacity-black);
    background: var(--special-darkgrey);
}

.sorting-btn,
.sorting-controls-down,
.sorting-controls-up {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.sorting-item-active .sorting-btn {
    color: var(--basic-black);
}

.sorting-controls-item-active .sorting-controls-down {
    color: var(--basic-btn-darkgrey);
}


.sorting-btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--opacity-black);
}

.sorting-btn:hover,
.sorting-btn:focus {
    color: var(--opacity-cpecial-black);
}

.sorting-btn:active {
    color: var(--basic-black);
}

.sorting-controls-down,
.sorting-controls-up {
    color: var(--basic-btn-grey);
    opacity: 0.3;
}

.sorting-controls-down:hover,
.sorting-controls-down:focus,
.sorting-controls-up:hover,
.sorting-controls-up:focus {
    color: var(--basic-btn-grey);
    opacity: 0.6;
}

.sorting-controls-down:active,
.sorting-controls-up:active {
    color: var(--basic-btn-darkgrey);
    opacity: 1;
}

/* filter end */  /* sorting end */

/* servies start */

.servies-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    width: 1100px;
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
    list-style: none;
}

.servies-item-subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.btn {
    width: 160px;
    padding-top: 17px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-red);
    border-radius: 3px;
    box-shadow: none;
}

.btn:hover,
.btn:focus {
    background: var(--cpecial-red);
} 

.btn:active {
    background: var(--cpecial-darkred);
    color: var(--opacity-white);
}

/* servies end */

/* about-company start */

.about-company-slogan {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.about-company-text {
    width: 646px;
}

.about-company-list-subtitle {
    font-weight: bold;
    text-transform: uppercase;
}

.about-company-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* about-company end */

.wrapper-about-company-and-feature {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 149px;
    width: 1174px;
    margin-bottom: 121px;
}

/* feature start */

.feature-subtitle {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
}

.feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-number {
    display: flex;
    flex-wrap: wrap;
    margin-right: 42px;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.feature-number:last-child {
    margin-right: 0;
}

.percent {
    font-size: 26px;
    line-height: 40px;
}

.feature-text {
    line-height: 18px;
}

/* feature end */

/* clients start */

.clients-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    width: 1157px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 126px;
    list-style: none;
}

.clients-link{
    opacity: 0.2;
}

.clients-link:hover,
.clients-link:focus {
    opacity: 1;
}

.clients-link:active {
    opacity: 0.1;
}

/* clients end */

/* pattern start */

.pattern-list,
.pattern-sheet-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pattern-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 55px;
}

.pattern-item {
    position: relative;
}

.pattern-item-shape {
    position: relative;
    width: 360px;
    height: 40px;
    background: var(--special-check-grey);
    opacity: 0.12;
}

.pattern-item:hover .pattern-item-shape,
.pattern-item:hover .pattern-item-shape {
    opacity: 1;
}

.pattern-item-path-left {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 13px;
    left: 23px;
    border-radius: 50%;
    background: var(--basic-white);
}

.pattern-item-path-center {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 13px;
    left: 46px;
    border-radius: 50%;
    background: var(--basic-white);
}

.pattern-item-path-right {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 13px;
    left: 69px;
    border-radius: 50%;
    background: var(--basic-white);
}

.pattern-sheet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 60px;
}

.wrapper-modal {
    display: none;
    position: absolute;
    bottom: -245px;
    width: 360px;
    padding-top: 26px;
    background: var(--basic-lightgrey);
}

.pattern-link:hover + .wrapper-modal {
    display: block;
    position: absolute;
    transform: translateY(-250px);
}

.modal-subtitle {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-black);
}

.modal-subtitle:hover,
.modal-subtitle:focus {
    color: var(--basic-red);
}

.modal-subtitle:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.modal-text {
    margin-bottom: 32px;
    text-align: center;
}

.modal-btn {
    width: 200px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 44px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
    background: var(--basic-red);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--cpecial-red);
}

.modal-btn:active {
    background: var(--cpecial-darkred);
}

.pattern-sheet-link {
    display: flex;
    min-width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    background: var(--basic-lightgrey);
}

.pattern-sheet-item {
    margin-right: 11px;
}

.pattern-sheet-item:last-child {
    width: 260px;
    vertical-align: center;
    margin-right: 0;
}

.pattern-sheet-link:hover {
    color: var(--basic-black);
    background: var(--special-lightgrey);
}

.pattern-sheet-link:active {
    opacity: 0.3;
    color: var(--basic-black);
    background: var(--special-darkgrey);
}

.pattern-sheet-link-active {
    border: 3px solid var(--basic-border-grey);
    box-sizing: border-box;
    border-radius: 3px;
    background: none;
}

/* pattern end */

/* footer start */
/* contacts start */

.page-footer {
    padding-bottom: 68px;
    position: relative;
}

.page-footer-map {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

.contacts {
    position: absolute;
    top: 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 319px;
    min-height: 308px;
    margin-left: 0;
    padding-left: 50px;
    padding-right: 50px;
    background: var(--basic-white);
}

.contacts-subtitle {
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.contacts-address,
.contacts-tel {
    line-height: 18px;
    color: var(--basic-grey);
}

.contacts-tel {
    margin-bottom: 37px;
}

.contacts-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 50px;
    margin-bottom: 47px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background: var(--basic-red);
}

/* contacts end */

/* socials start */

.wrapper-socials {
    display: grid;
    grid-template-columns: 40% 1fr;
}

.socials-list {
    display: flex;
    flex-wrap: wrap;
    margin: 68px 0;
    margin-right: 139px;
    list-style: none;
}

.socials-item {
    margin-right: 9px;
}

.socials-item:last-child {
    margin-right: 0;
}

.socials-link {
    display: grid;
    width: 81px;
    height: 81px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--gradient-rest);
}

.socials-link:hover,
.socials-link:focus {
    background: var(--gradient-aim);
}

.socials-link:active {
    background: var(--gradient-press);
    
}

.socials-link:active path {
    box-shadow: inset 0px 3px 0px var(--basic-gradient-white);
    fill: var(--basic-gradient-white);
}

.socials-subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

.socials-text {
    line-height: 22px;
    color: var(--special-grey);
}

/* socials end */
/* footer end */

/* popup start */

.popup {
    width: 960px;
    background: var(--basic-white);
    box-shadow: 0 10px 10px 10px var(--opacity-shadow-black);
}

.popup-wrapper {
    width: 760px;
    margin: 0 auto;
}

.popup-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black);
}

.popup-btn-close {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--basic-white);
    border: none;
    opacity: 0.6;
}

.popup-btn-close:hover,
.popup-btn-close:focus {
    color: var(--basic-red);
    opacity: 1;
}

.popup-btn-close:active {
    color: var(--basic-red);
    opacity: 0.3;
}

.popup-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.popup-item {
    margin-bottom: 9px;
    margin-left: 0;
    padding: 0;
}

.popup-item-subtitle {
    font-weight: bold;
    line-height: 18px;
    color: var(--basic-black);
}

.popup-field,
.popup-textarea {
    padding: 16px;
    color: var(--special-grey);
    background: #FFFFFF;
    border: 2px solid var(special-border-grey);
    box-sizing: border-box;
    border-radius: 3px;
}

.popup-field {
    width: 320px;
    height: 50px;
    margin-bottom: 37px;
    color: var(--special-grey);
    opacity: 0.5;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 2px solid var(special-border-grey);
    box-sizing: border-box;
    border-radius: 3px;
}

.popup-field:hover,
.popup-textarea:hover {
    border: 2px solid var(--special-border-darkgrey);
    opacity: 0.5;
} 

.popup-field:focus,
.popup-textarea:focus {
    border: 2px solid var(--basic-black);
    opacity: 1;
} 

.popup-textarea {
    width: 760px;
    border: 2px solid var(special-border-grey);
    box-sizing: border-box;
    margin-bottom: 47px;
}

.popup-btn {
    width: 259px;
    height: 50px;
    text-transform: uppercase;
    margin-bottom: 84px;
    border-radius: 3px;
    color: var(--basic-white);
    background: var(--basic-red);
    box-shadow: none;
}

.popup-btn:focus,
.popup-btn:hover {
    background: var(--cpecial-red);
}

.popup-btn:active {
    background: var(--cpecial-darkred);
    color: var(--opacity-white);
}

/* popup end */